<!DOCTYPE html>
<!-- 中文 -->
<html lang='zh'>
  <head>
    <!-- 中文编码 -->
    <meta charset='utf-8'/>
    <title><%= title; %></title>
    <script src='dist/bundle.js' defer></script>
  </head>
  <body>
    <div>大家好</div>
    <script>
      console.log(require)
    </script>
  </body>
</html>